<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Dokumentide Andmebaas</title>
	<link rel="stylesheet" type="text/css" href="stiil.css">
	<script src="myscript.js"></script>
</head>
<body>
<div onload="startTime()"/>
<div id="wrap">
	<img src="Pildid/header.png" alt="Pilt" width=1000px id="headerpic">
	<ul id="menu">
		<li><a href="?">Pealeht</a></li>		
		<?php if(isset($_SESSION['user'])): ?>
			<li><a href="?page=sisestadokument">Sisesta dokument</a></li>
			<li><a href="?page=dokumendibaas">Dokumendibaas</a></li>
			<li style="float:right"><a href="?page=logout">Logi välja</a></li>			
		<?php else: ?>
			<li style="float:right"> <a href="?page=logisisse">Logi sisse</a></li>
			<li> <a href="?page=registreerimine">Registreerimine </a></li>		
		<?php endif; ?>				
	</ul>
	<div id="content">