<h1>Registreerimine</h1>
<div id="register">
	<form action="?page=registreerimine" method="POST" >
		<table>
			<tr>
			  <td>Kasutajanimi:</td>
			  <td><input type="text" name="user" placeholder="Kasutajanimi"/></td>
			</tr>
			<tr>
			  <td>Parool:</td>
			  <td><input type="password" name="password" placeholder="Parool"/></td>
			</tr>
			<tr>
			  <td>Parool uuesti:</td>
			  <td><input type="password" name="passwordagain" placeholder="Korda parooli"/></td>
			</tr>
			<tr>
			  <td>Asutus:</td>
			  <td><input type="text" name="asutus" placeholder="Asutus"/></td>
			</tr>
			<tr>
			  <td>Telefoninumber:</td>
			  <td><input type="text" name="telefon" placeholder="Telefoninumber"/></td>
			</tr>
			<tr>
			  <td>E-mail:</td>
			  <td><input type="text" name="email" placeholder="E-mail"/></td>
			</tr>
			<tr>
			  <td><input type="submit" value="Registreeri!"/></td>
			</tr>
	    </table>	
	</form>	
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
</div>
Status 